<div class="container">
    <div class="row">
        <div class="col-6">
            <!----image-->
            <img width="450px" src="https://th.bing.com/th/id/OIP.t0BLt_Z7aNAHxCjoogD1yQHaFh?pid=ImgDet&rs=1" alt="">
        </div>

        <div class="col-6">
            <!-----form-->
            <form style="width: 450px;" class="mt-5 p-4 mb-5 border border-2 shadow">
                <label class="mt-3">User name</label>
                <input class="form-control mt-1" type="text" placeholder="enter user name">
                <label class="mt-3">Password</label>
                <input class="form-control mt-1 " type="password" placeholder="enter password">
                <div class="text-center"><button class="btn btn-success mt-3 mb-2">Log in</button></div>
            </form>
        </div>
    </div>
</div>
